<a href="https://colab.research.google.com/github/MayureshOP-max/DataAnalytics/blob/main/Assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, date, time, timedelta

In [3]:
# 1. Write a Pandas program to create
# a) Datetime object for Jan 15 2012.
# b) Specific date and time of 9:20 pm.
# c) Local date and time.
# d) A date without time.
# e) Current date.
# f) Time from a datetime.
# g) Current local time.

datetime_obj = datetime(2012, 1,15)
print(datetime_obj)

spec_dt_time = datetime(2012,1,15,21,20)
print(spec_dt_time)

loc_date_time = datetime.now()
print(loc_date_time)

date_obj = date(2012, 1,15)
print(date_obj)

date_today = date.today()
print(date_today)

time_from = spec_dt_time.time()
print(time_from)

time_now = datetime.now()
print(time_now)

2012-01-15 00:00:00
2012-01-15 21:20:00
2024-10-24 08:17:56.328425
2012-01-15
2024-10-24
21:20:00
2024-10-24 08:17:56.329090

In [4]:
# 2. Write a Pandas program to create
# a) a specific date using timestamp.
# b) date and time using timestamp.
# c) a time adds in the current local date using timestamp.
# d) current date and time using timestamp.

tsd = pd.Timestamp("2022-10-12")
print(tsd)

tst = pd.Timestamp("2022-10-12 11:58:12")
print(tst)

tslocal = pd.Timestamp.now()
print(tslocal)
tslocal = pd.Timestamp('11:30')
print(tslocal)

tsnow = pd.Timestamp("now")
print(tsnow)

2022-10-12 00:00:00
2022-10-12 11:58:12
2024-10-24 08:17:56.352158
2024-10-24 11:30:00
2024-10-24 08:17:56.352842

In [5]:
# 3. Write a Pandas program to create a date from a given year, month, day and
# another date from a given string formats.

year = 2020
month = 5
day = 23
date = '2021-4-23'
date1 =pd.to_datetime(f"{year}-{month}-{day}")
print(date1)

df = pd.DataFrame({'date_str': ['2023-01-01']})
print(pd.to_datetime(df['date_str'], format='%Y-%m-%d'))

2020-05-23 00:00:00
0   2023-01-01
Name: date_str, dtype: datetime64[ns]

In [6]:
# 4. Write a Pandas program to print the day after and before a specified date. Also
# print the days between two given dates.

dt = datetime(2012, 1,15)
print(dt)

date_before = dt - timedelta(1)
print(date_before)
date_after = dt + timedelta(1)
print(date_after)

2012-01-15 00:00:00
2012-01-14 00:00:00
2012-01-16 00:00:00

In [7]:
# 5. Write a Pandas program to create a time-series with two index labels and
# random values. Also print the type of the index.

dates = [datetime(2020, 12,3), datetime(2012,2,4)]
timeseries = pd.Series(np.random.randn(2), dates)

print(timeseries)

2020-12-03    0.320161
2012-02-04    1.668107
dtype: float64

In [8]:
# 6. Write a Pandas program to create a time-series from a given list of dates as
# strings.

dates = ['2020-1-23', '2023-1-30', '2013-2-5', '2345-2-4']
timeseries = pd.Series(np.random.randn(4),dates)
timeseries

2020-1-23    0.831940
2023-1-30   -1.235287
2013-2-5    -0.504545
2345-2-4     1.024798
dtype: float64

In [9]:
# 7. Write a Pandas program to create a time series object that has time indexed
# data. Also select the dates of same year and select the dates between certain
# dates.

index = pd.DatetimeIndex(['2011-09-02', '2012-08-04',
                          '2015-09-03', '2010-08-04',
                          '2015-03-03', '2011-08-04',
                          '2015-04-03', '2012-08-04'])
aindex = pd.Series([0,1,2,3,4,5,6,7],index = index)
print(aindex)
print(aindex['2012'])
print(aindex.loc[pd.Timestamp('2010-08-04'):pd.Timestamp('2015-04-03')])

2011-09-02    0
2012-08-04    1
2015-09-03    2
2010-08-04    3
2015-03-03    4
2011-08-04    5
2015-04-03    6
2012-08-04    7
dtype: int64
2012-08-04    1
2012-08-04    7
dtype: int64
2010-08-04    3
2015-03-03    4
2011-08-04    5
2015-04-03    6
dtype: int64

In [10]:
# 8. Write a Pandas program to create a date range using a startpoint date and a
# number of periods.

start_date = '2010-01-01'
interval = 10
print("range in days")
series = pd.date_range(start = start_date, periods = interval)
print(series)
print("range in months")
series = pd.date_range(start = start_date, periods = interval, freq = 'ME')
print(series)

range in days
DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10'],
              dtype='datetime64[ns]', freq='D')
range in months
DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31'],
              dtype='datetime64[ns]', freq='ME')

In [11]:
# 9. Write a Pandas program to create a whole month of dates in daily frequencies.
# Also find the maximum, minimum timestamp and indexs.

start_date = '2000-01-01'
interval = 31

print("month range in days")
series = pd.date_range(start = start_date, periods = interval)
print(series)

print(series.max())
print(series.min())

month range in days
DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31'],
              dtype='datetime64[ns]', freq='D')
2000-01-31 00:00:00
2000-01-01 00:00:00

In [12]:
# 10. Write a Pandas program to create a time series using three months
# frequency.

start_date = '2000-01-01'
interval = 10

print("month range in days")
series = pd.date_range(start = start_date, periods = interval,freq='3ME')
print(series)

month range in days
DatetimeIndex(['2000-01-31', '2000-04-30', '2000-07-31', '2000-10-31',
               '2001-01-31', '2001-04-30', '2001-07-31', '2001-10-31',
               '2002-01-31', '2002-04-30'],
              dtype='datetime64[ns]', freq='3ME')

In [13]:
# 11. Write a Pandas program to create a sequence of durations increasing by an
# hour.

s = pd.timedelta_range(0, periods = 10, freq = 'h')
print(s)

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='h')

In [14]:
# 12. Write a Pandas program to convert year and day of year into a single
# datetime column of a dataframe.

data = {\
"year": [2002, 2003, 2015, 2018],
"day_of_the_year": [250, 365, 1, 140]
}
df = pd.DataFrame(data)
print(df)
df['combined'] = pd.to_datetime(df['year']*1000 + df['day_of_the_year'],format='%Y%j')
print(df)

   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140
   year  day_of_the_year   combined
0  2002              250 2002-09-07
1  2003              365 2003-12-31
2  2015                1 2015-01-01
3  2018              140 2018-05-20

In [15]:
# 13. Write a Pandas program to create a series of Timestamps from a DataFrame
# of integer or string columns. Also create a series of Timestamps using specified
# columns.

df = pd.DataFrame({
    'year':[2018,2019,2020,2022],
    'month':[1,2,3,4],
    'day':[4,5,6,7],
    'hour':[1,2,3,4]})

print(pd.to_datetime(df[['year','month','day']]))

0   2018-01-04
1   2019-02-05
2   2020-03-06
3   2022-04-07
dtype: datetime64[ns]

In [16]:
# 14. Write a Pandas program to check if a day is a business day (weekday) or not.

s =  pd.to_datetime('2012, 1,15')

if s.weekday() <5:
  print("its a weekday")
else:
  print("its weekend")

its weekend

In [17]:
# 15. Write a Pandas program to get a time series with the last working days of
# each month of a specific year.

d = pd.date_range('2020-01-01', periods = 12, freq = 'BME')
d

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='BME')

In [18]:
# 16. Write a Pandas program to create a time series combining hour and minute.

h = pd.timedelta_range(0,periods = 12, freq = '1h40min')
h

TimedeltaIndex(['0 days 00:00:00', '0 days 01:40:00', '0 days 03:20:00',
                '0 days 05:00:00', '0 days 06:40:00', '0 days 08:20:00',
                '0 days 10:00:00', '0 days 11:40:00', '0 days 13:20:00',
                '0 days 15:00:00', '0 days 16:40:00', '0 days 18:20:00'],
               dtype='timedelta64[ns]', freq='100min')

In [19]:
# 17. Write a Pandas program to convert unix/epoch time to a regular time stamp
# in UTC. Also convert the said timestamp in to a given time zone.

d1 = 1634896245
d2 = pd.to_datetime(d1,unit = 's')
d3 = int(d2.timestamp())
d4 = pd.to_datetime(d3,unit = 's')
d5 = d4.tz_localize('America/New_York')
d5

Timestamp('2021-10-22 09:50:45-0400', tz='America/New_York')

In [20]:
# 18. Write a Pandas program to create a time series object with a time zone.

d = pd.Series(pd.date_range('2000', periods = 3, tz = 'Asia/Calcutta'))
d

0   2000-01-01 00:00:00+05:30
1   2000-01-02 00:00:00+05:30
2   2000-01-03 00:00:00+05:30
dtype: datetime64[ns, Asia/Calcutta]

In [21]:
# 19. Write a Pandas program to remove the time zone information from a Time
# series data.

d = pd.Series(pd.date_range('2000', periods = 3, tz = 'Asia/Calcutta'))
d1 = d.dt.tz_localize(None)
print(d1)

0   2000-01-01
1   2000-01-02
2   2000-01-03
dtype: datetime64[ns]

In [22]:
# 20. Write a Pandas program to subtract two timestamps of same time zone or
# different time zone.

d1 = pd.Timestamp('2020-01-10 12:00', tz = 'Asia/Kolkata')
d2 = pd.Timestamp('2020-01-01 7:00', tz = 'Asia/Kolkata')
print("Diff: ", d2-d1)

d3 = pd.Timestamp('2020-01-10 12:00', tz = 'Asia/Kolkata')
d4 = pd.Timestamp('2020-01-01 7:00', tz = 'America/New_York')
print("Diff: ", d4-d3)

Diff:  -10 days +19:00:00
Diff:  -9 days +05:30:00

In [23]:
# 21. Write a Pandas program to calculate all Thursdays between two given days.

d= pd.date_range('2020-01-01', '2020-11-01', freq = 'W-THU')
d

DatetimeIndex(['2020-01-02', '2020-01-09', '2020-01-16', '2020-01-23',
               '2020-01-30', '2020-02-06', '2020-02-13', '2020-02-20',
               '2020-02-27', '2020-03-05', '2020-03-12', '2020-03-19',
               '2020-03-26', '2020-04-02', '2020-04-09', '2020-04-16',
               '2020-04-23', '2020-04-30', '2020-05-07', '2020-05-14',
               '2020-05-21', '2020-05-28', '2020-06-04', '2020-06-11',
               '2020-06-18', '2020-06-25', '2020-07-02', '2020-07-09',
               '2020-07-16', '2020-07-23', '2020-07-30', '2020-08-06',
               '2020-08-13', '2020-08-20', '2020-08-27', '2020-09-03',
               '2020-09-10', '2020-09-17', '2020-09-24', '2020-10-01',
               '2020-10-08', '2020-10-15', '2020-10-22', '2020-10-29'],
              dtype='datetime64[ns]', freq='W-THU')

In [24]:
# 22. Write a Pandas program to find the all the business quarterly begin and end
# dates of a specified year.

s= pd.date_range('2000','2001', freq = 'BQS')
print(s)
e= pd.date_range('2000','2001', freq = 'BQE')
print(e)

DatetimeIndex(['2000-01-03', '2000-04-03', '2000-07-03', '2000-10-02',
               '2001-01-01'],
              dtype='datetime64[ns]', freq='BQS-JAN')
DatetimeIndex(['2000-03-31', '2000-06-30', '2000-09-29', '2000-12-29'], dtype='datetime64[ns]', freq='BQE-DEC')

In [25]:
# 23. Write a Pandas program to generate sequences of fixed-frequency dates and
# time spans intervals.

e= pd.date_range('2000-01-01',periods = 10 , freq = 'h')
print(e)
h= pd.date_range('2000-01-01',periods = 10 , freq = '3h')
print(h)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
               '2000-01-01 02:00:00', '2000-01-01 03:00:00',
               '2000-01-01 04:00:00', '2000-01-01 05:00:00',
               '2000-01-01 06:00:00', '2000-01-01 07:00:00',
               '2000-01-01 08:00:00', '2000-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='h')
DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 03:00:00',
               '2000-01-01 06:00:00', '2000-01-01 09:00:00',
               '2000-01-01 12:00:00', '2000-01-01 15:00:00',
               '2000-01-01 18:00:00', '2000-01-01 21:00:00',
               '2000-01-02 00:00:00', '2000-01-02 03:00:00'],
              dtype='datetime64[ns]', freq='3h')

In [26]:
# 24. Write a Pandas program to generate time series combining day and intraday
# offsets intervals.

e= pd.date_range('2000-01-01',periods = 10 , freq = '3h10min')
print(e)
h= pd.date_range('2000-01-01',periods = 10 , freq = '1d3h10min')
print(h)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 03:10:00',
               '2000-01-01 06:20:00', '2000-01-01 09:30:00',
               '2000-01-01 12:40:00', '2000-01-01 15:50:00',
               '2000-01-01 19:00:00', '2000-01-01 22:10:00',
               '2000-01-02 01:20:00', '2000-01-02 04:30:00'],
              dtype='datetime64[ns]', freq='190min')
DatetimeIndex(['2000-01-01 00:00:00', '2000-01-02 03:10:00',
               '2000-01-03 06:20:00', '2000-01-04 09:30:00',
               '2000-01-05 12:40:00', '2000-01-06 15:50:00',
               '2000-01-07 19:00:00', '2000-01-08 22:10:00',
               '2000-01-10 01:20:00', '2000-01-11 04:30:00'],
              dtype='datetime64[ns]', freq='1630min')

In [27]:
# 25. Write a Pandas program to extract the day name from a specified date. Add 2
# days and 1 business day with the specified date.

a = pd.Timestamp('2020-01-01')
print(a.day_name())

print( a +pd.Timedelta(days = 2))
print(a + pd.offsets.BDay(1))

Wednesday
2020-01-03 00:00:00
2020-01-02 00:00:00

In [28]:
# 26. Write a Pandas program to convert integer or float epoch times to Timestamp
# and DatetimeIndex.

d = pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705], unit = 's')
print(d)
e = pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705], unit = 'ms')
print(e)

DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['1970-01-16 09:23:26.505000', '1970-01-02 12:03:26.505000',
               '1970-01-15 11:11:32.905000', '1970-01-15 11:12:59.305000',
               '1970-01-15 11:14:25.705000'],
              dtype='datetime64[ns]', freq=None)

In [29]:
# 27. Write a Pandas program to calculate one, two, three business day(s) from a
# specified date. Also find the next business month end from a specific date.

a = pd.Timestamp('2020-01-01')
b = a + pd.offsets.BDay(1)
c = a + pd.offsets.BDay(2)
d = a + pd.offsets.BDay(3)
print(b)
print(c)
print(d)

e = a + pd.offsets.BMonthEnd(1)
print(e)

2020-01-02 00:00:00
2020-01-03 00:00:00
2020-01-06 00:00:00
2020-01-31 00:00:00

In [30]:
# 28. Write a Pandas program to create a period index represent all monthly
# boundaries of a given year. Also print start and end time for each period object in
# the said index.

sd = datetime(2020,1,1)
ed = datetime(2020,12,31)

a = pd.period_range(sd,ed,freq ='M')
for i in a:
  print ("{0} {1}".format(a.start_time, a.end_time))

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS') DatetimeIndex(['2020-01-31 23:59:59.999999999',
               '2020-02-29 23:59:59.999999999',
               '2020-03-31 23:59:59.999999999',
               '2020-04-30 23:59:59.999999999',
               '2020-05-31 23:59:59.999999999',
               '2020-06-30 23:59:59.999999999',
               '2020-07-31 23:59:59.999999999',
               '2020-08-31 23:59:59.999999999',
               '2020-09-30 23:59:59.999999999',
               '2020-10-31 23:59:59.999999999',
               '2020-11-30 23:59:59.999999999',
               '2020-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)

In [31]:
# 29. Write a Pandas program create a series with a PeriodIndex which represents
# all the calendar month periods in 2029 and 2031. Also print the values for all
# periods in 2030.
# Note: PeriodIndex is an immutable ndarray holding ordinal values indicating
# regular periods in time such as particular years, quarters, months, etc.

p = pd.Series(np.random.randn(36),
              pd.period_range('1/1/2029',
                              '12/31/2031',
                              freq = 'M'))
print(p)
print(p['2030'])

2029-01    1.277893
2029-02   -1.217302
2029-03   -0.578709
2029-04   -0.708400
2029-05    1.079434
2029-06    0.356785
2029-07   -0.597403
2029-08    0.215678
2029-09   -2.382309
2029-10    0.188465
2029-11   -1.975524
2029-12   -0.934552
2030-01   -0.993349
2030-02    1.693739
2030-03    0.720506
2030-04   -0.377711
2030-05   -0.948796
2030-06   -1.368228
2030-07   -1.003289
2030-08   -0.680841
2030-09   -1.112528
2030-10    0.367282
2030-11    0.160401
2030-12    0.418778
2031-01    0.614442
2031-02   -0.066286
2031-03    0.012299
2031-04    0.622886
2031-05   -0.909121
2031-06    1.503393
2031-07   -0.081123
2031-08    1.663226
2031-09    1.599986
2031-10    1.931104
2031-11    1.145052
2031-12    1.120200
Freq: M, dtype: float64
2030-01   -0.993349
2030-02    1.693739
2030-03    0.720506
2030-04   -0.377711
2030-05   -0.948796
2030-06   -1.368228
2030-07   -1.003289
2030-08   -0.680841
2030-09   -1.112528
2030-10    0.367282
2030-11    0.160401
2030-12    0.418778
Freq: M, dtype: float64

In [32]:
# 30. Write a Pandas program to generate holidays between two dates using the
# US federal holiday calendar.

from pandas.tseries.holiday import USFederalHolidayCalendar
sd = datetime(2020,1,1)
ed = datetime(2020,12,31)
cal = USFederalHolidayCalendar()

for i in cal.holidays(start = sd, end = ed):
  print(i)

2020-01-01 00:00:00
2020-01-20 00:00:00
2020-02-17 00:00:00
2020-05-25 00:00:00
2020-07-03 00:00:00
2020-09-07 00:00:00
2020-10-12 00:00:00
2020-11-11 00:00:00
2020-11-26 00:00:00
2020-12-25 00:00:00

In [34]:
# 31. Write a Pandas program to create a monthly time period and display the list
# of names in the current local scope.

a = pd.Period('2020-11','m')
print(a)
print(dir(a))

2020-11
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

<ipython-input-34-715527a75fae>:4: FutureWarning: 'm' is deprecated and will be removed in a future version, please use 'M' instead.
  a = pd.Period('2020-11','m')

In [35]:
# 32. Write a Pandas program to create a yearly time period from a specified year
# and display the properties of this period.

a = pd.Period('2020','A-DEC')
print(a)
print(dir(a))

2020
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

<ipython-input-35-eccee02550ad>:4: FutureWarning: 'A-DEC' is deprecated and will be removed in a future version, please use 'Y-DEC' instead.
  a = pd.Period('2020','A-DEC')