<a href="https://colab.research.google.com/github/MayureshOP-max/DataAnalytics/blob/main/day8_hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
data = pd.read_csv('/content/Mall_Customers.csv')
age_data = data['Age']

In [ ]:
pop_avg_age = 40

In [ ]:
t_statistics, p_value = stats.ttest_1samp(age_data, pop_avg_age)
degrees_of_freedom = len(age_data) - 1

In [ ]:
print(f"T-Statistics: {t_statistics}")
print(f"P-Value: {p_value}")
print(f"Degrees of Freedom: {degrees_of_freedom}")

T-Statistics: -1.1642528048895828
P-Value: 0.24571546680949305
Degrees of Freedom: 199

In [ ]:
#Interpretation
alpha = 0.025
if p_value < alpha:
  print("Reject the null hypothesis")
else:
  print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

In [ ]:
critical_value = stats.t.ppf(1 - alpha, degrees_of_freedom)
print(f"Critical Value: {critical_value}")

Critical Value: 1.971956544249395

In [ ]:
#Two tailed t-test
if abs(t_statistics) > critical_value:
  print("The null hypotesis (mean age = 40) cannot be rejected")
else:
  print("The null hypotesis (mean age = 40) is rejected")

The null hypotesis (mean age = 40) is rejected

In [ ]:
#separate data by genre
male_data = data[data['Genre'] == 'Male']['Spending Score (1-100)']
female_data = data[data['Genre'] == 'Female']['Spending Score (1-100)']

In [ ]:
t_statistics, p_value = stats.ttest_ind(male_data, female_data)

In [ ]:
n_male = len(male_data)
n_female = len(female_data)
degrees_of_freedom = n_male + n_female - 2
alpha = 0.025

In [ ]:
critical_value = stats.t.ppf(1 - alpha / 2, degrees_of_freedom)

In [ ]:
print(f"T-Statistics: {t_statistics}")
print(f"P-Value: {p_value}")
print(f"Degrees of Freedom: {degrees_of_freedom}")
print(f"Critical Value: {critical_value}")
#

T-Statistics: -0.8190464150660334
P-Value: 0.4137446589852174
Degrees of Freedom: 198
Critical Value: 2.2585761678547374