<a href="https://colab.research.google.com/github/MayureshOP-max/DataAnalytics/blob/main/trial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: create  a 4 by 4 matrix

import numpy as np

matrix = np.zeros((4, 4))
print(matrix)

[2, 1, 6, 8, 9]

In [2]:
# prompt: create a dataframe with 2 columns and 10 rows

import pandas as pd

# Create a DataFrame with 2 columns and 10 rows
df = pd.DataFrame({'Column1': range(10), 'Column2': range(10, 20)})

print(df)

   Column1  Column2
0        0       10
1        1       11
2        2       12
3        3       13
4        4       14
5        5       15
6        6       16
7        7       17
8        8       18
9        9       19